<div class="zona">
  <div *ngFor="let elemento of product.ntt">
    <div class="card" style="width: 19rem;">
      <div class="card-body">
        <img class="card-img-top" src="../assets/{{elemento.nombre_corto}}.png" alt="Card image cap" (click)="details(elemento.nombre_corto)"/>
        <div class="inf">
          <p class="overflow-ellipsis text-center" (click)="details(elemento.nombre_corto)">{{elemento.nombre_corto}} </p>
          <p class="familia">{{elemento.familia}}</p>
        </div>
        <hr />
        <h5 class="card-title text-center">{{elemento.pvp}} €</h5>
        <div class="form">
          <div *ngIf="(userLogged != null)|| (this.user != null && this.user.length > 1)">
            <hr />
          <form>
            <input type="hidden" value="{{elemento.cod}}" #cod />
              <input type="number" class="number form-control" placeholder="0" #number />
              <input type="submit" class="btn btn-primary" value="Añadir" (click)="addCesta(cod,number)" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
