<main class="container" *ngFor="let elemento of details">
 
    <!-- Left Column / Headphones Image -->
    <div class="left-column">
      <img data-image="red" class="active" src="../assets/{{elemento.nombre_corto}}.png" alt="">
    </div>
   
   
    <!-- Right Column -->
    <div class="right-column">
   
      <!-- Product Description -->
      <div class="product-description">
        <span>{{elemento.familia}}</span>
        <h1>{{elemento.nombre_corto}}</h1>
        <p>{{elemento.descripcion}}</p>
      </div>
   
      <!-- Product Pricing -->
      <div class="product-price">
        <span>{{elemento.pvp}}$</span>
        <a href="#" class="cart-btn">Añadir a la Cesta</a>
      </div>
    </div>
  </main>